#mainPoster { 
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 99vw;
    padding-top: 200px;
}
#textbox {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;    
    color: white;
}
#textbox h2 img { width: 100%; width: auto; }
#textbox p:nth-child(2) { font-size: 1.5rem; margin-top: 25px; white-space: nowrap;}
#textbox p:last-child { font-size: 2.5rem; margin-top: 25px; font-weight: bold;}
.sec1Front-image-container img {
    position: absolute;
    z-index: 2;
}
.sec1Front-image-container img:first-child {
    bottom: -120px;
    right: 100px;
    width: 17%;
}
.sec1Front-image-container img:last-child {
    left: 120px;
    bottom: -100px;
    width: 5vw;
}
.back-image-container {
    z-index: -1;
    background: url(../images/s1_bg00.jpg) no-repeat center / cover;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.back { position: absolute; top: 0; left: 0; right: 0; }
.back1:first-child { 
    background: url(../images/s1_bg01.png) no-repeat center / cover;
    /* z-index: 2;  */
    bottom: -120px;
}
.back1:nth-child(2) {
    background: url(../images/s1_bg02.png) no-repeat center / cover;
    /* z-index: 3;  */
    bottom: -120px; 
}
.back1:last-child {
    background: url(../images/s1_bg03.png) no-repeat center / cover; 
    /* z-index: 4;  */
    bottom: -120px;
}

.firework {
    position: absolute;
}
.firework:first-child {
    right: calc(1205/1920 * 100%);
    top: calc(70/1060 * 100%);
    left: calc(605/1920 * 100%);
    width: 6vw;
}
.firework:nth-child(2) {
    left: calc(404/1920 * 100%);
    right: calc(1305/1920 * 100%);
    top: calc(285/1060 * 100%);
    width: 10vw;
}
.firework:nth-child(3) {
    left: calc(1230/1920 * 100%);
    right: calc(508/1920 * 100%);
    top: calc(110/1060 * 100%);
    width: 10vw;
}
.firework:last-child {
    left: calc(1360/1920 * 100%);
    right: calc(440/1920 * 100%);
    top: calc(235/1060 * 100%);
    width: 5vw;
}
#schedule { 
    /* z-index: 4;  */
    position: relative;
    padding: 25px 0 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 60vw;
}
.wave2 {
    position: absolute;
    width: 100%;
    height: 100px;
    /* top: -170px; */
    background: url(../images/w_wave.png) ;
    background-size: cover;
}
#schedule .sec2Front-image-container, .schedule_title, .schedule_explain {
    margin-top: 80px;

}
.sec2Front-image-container img{
    position: absolute;
}
.sec2Front-image-container img:first-child {
    bottom: -30px;
    right: 0;
    width: 34vw;
}
.sec2Front-image-container img:last-child {
    bottom: 0px;
    left: 0;
    width: 25vw;
}

.schedule_title h2 img {
    width: 100%;
    min-width: 50vh;
}
.schedule_title p { 
    color:black; 
    font-size: 1.5rem;
    text-align: center;
}
#explainWrap {
    display: flex;
    justify-content: center;
    width: 100%;

}
.schedule_explain {
    display: flex;
    flex-direction: column;
    height: 40vh;
}
.schedule_explain dl {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
.schedule_explain dt {
    background: rgb(56, 61, 68);
    text-align: center;
    width: 150px;
    line-height: 40px;
    border-radius: 50px;
    font-size: 1.2rem;
    color: white;
}
.schedule_explain dl dd {
    color: black;
    margin-left: 30px;
    font-size: 1.2rem;
}
.wave3 {
    width: 100%;
    height: 130px;
    top: -130px;
    /* z-index: 5; */
    position: absolute;
    background: url(../images/p_wave.png) ;
}
#programs {
    background: #45286a;
    height: 40vw;
    position: relative;
}
.programs_title {
    display: flex;
    justify-content: center;
}
.programs_title img {
    width: 50vw;
    min-width: 50vh;
}
#information {
    display: flex;
    justify-content: flex-end; 
    padding-top: 100px;
    width: 100%;
}
.programs_Content {
    margin: 0 80px 0 50px;
    height: 50vh;
}
.programs_Content > li {
    position: relative;
}
.programs_Content li dl { color: white; }
.programs_Content li dl dt {
    font-size: 4rem;
    font-weight: bold;
    line-height: 50px;
    white-space: nowrap;
}
.programs_Content li dl dt span {
    font-size: 3rem;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
}
.programs_Content li dl dd {
    font-size: 1.5rem;
    padding: 40px 0 40px;
    white-space: nowrap;
}
.programs_Content > li:nth-child(2) {
    display: none;
}.programs_Content > li:nth-child(3) {
    display: none;
}
.programs_Content li ul li {
    font-size: 1.2rem;
    color: rgb(170, 168, 168);
}
.contentImg {
    display: flex;
    width: 60vw;
    height: 40vh;
    overflow: hidden;
}
.contentImg img {
    width: 50vw;
    height: 30vw;
    background: center;
}
.btnWrap2 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 5%;
    width: 90%;
}
.btnWrap2 button {
    width: 90px;
    height: 90px;
    background: rgb(255, 255, 255,0);
    border: 1px solid white;
}
.btnWrap2 button:first-child { 
    bottom: 220px;
    left: 150px;
}
.btnWrap2 button:last-child {
    bottom: 220px;
    right: 150px;
}
.btnWrap2 button img {
    width: 40px;
}
@media all and (max-width:1500px){
    #programs {
        height: 55vw;
    }
}
@media all and (max-width:1280px){
    .schedule_title p {  
        font-size: 1.2rem;
        text-align: center;
    }
    .schedule_explain dt {
        text-align: center;
        width: 130px;
        line-height: 30px;
        font-size: 1rem;
    }
    .schedule_explain dl dd {
        margin-left: 30px;
        font-size: 1.1rem;
    }
    #programs {
        height: 60vw;
        min-height: 600px;
    }
    .programs_Content li dl dt {
        font-size: 4rem;
        line-height: 50px;
        white-space: initial;
    }
    .programs_Content li dl dt span {
        font-size: 4rem;
    }
    .programs_Content li dl dd {
        font-size: 1.5rem;
        padding: 40px 0 40px;
    }
    .programs_Content li ul li {
        font-size: 1.2rem;
    }
    .btnWrap2 button {
        width: 80px;
        height: 80px;
    }
}
@media all and (max-width:772px){
    #mainPoster { 
        height: 92vh;
        width: 99vw;
        padding-top: 200px;
    }
    .sec1Front-image-container img:first-child {
        bottom: -100px;
        right: 70px;
        width: 37vw;
    }
    .sec1Front-image-container img:last-child {
        left: 60px;
        bottom: -80px;
        width: 13vw;
    }
    #textbox h2 img { width: 100%; }
    #textbox p:nth-child(2) { font-size: 1.3rem; margin-top: 25px; }
    #textbox p:last-child { font-size: 2.3rem; margin-top: 25px; font-weight: bold;}
    #schedule { 
        height: 140vw;
        min-height: 900px;
    }
    .wave2 {
        top: 85px;
    }
    #schedule {
        min-height: 900px;
    }
    
    .schedule_explain dt {
        width: 120px;
        line-height: 27px;
        font-size: 1rem;
    }
    .schedule_explain dl dd {
        font-size: 1rem;
    }
    .sec2Front-image-container img:first-child {
        bottom: 60px;
        right: 0;
        width: 34vw;
    }
    .sec2Front-image-container img:last-child {
        bottom: 70px;
        left: 0;
        width: 25vw;
    }
    #programs {
        padding: 10vw 0 120vw 0;
    }
    .programs_title {
        padding-top: 0;
    }
    #information {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        height: 390px;
    }
    .programs_Content {
        height: 50vh;
    }
    .programs_Content > li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .programs_Content { margin: 0; }
    .programs_Content li dl dt {
        font-size: 3rem;
        text-align: center;
    }
    .programs_Content li dl dd { 
        text-align: center; 
        position: absolute;
        top: 250px;
        left: 40px;
        z-index: 2;
        font-size: 1.0rem;
    }
    .programs_Content li dl dt span {
        font-size: 3rem;
    }
    
    .programs_Content li ul {
        position: absolute;
        bottom: -350px; 
        z-index: 2;
    }
    .programs_Content li ul li {
        font-size: 1rem;
        color: rgb(209, 204, 204);
    }
    .contentImg img {
        position: absolute;
        top: 300px;
        width: 60vw;
        height: 70vw;
    }
    .contentImg img:first-child {
       z-index: 1;
    }
    .btnWrap2 button {
        width: 10vw;
        height: 10vw;   
    }
    .btnWrap2 button img {
        width: 50%;
    }
}
@media all and (max-width:480px){
    #textbox p:nth-child(2) { font-size: 1.0rem; margin-top: 25px; }
    #textbox p:last-child { font-size: 1.7rem; margin-top: 25px; font-weight: bold;}
    .schedule_title p { 
        font-size: 1rem;
        text-align: center;
    }
    .schedule_explain dt {
        text-align: center;
        width: 110px;
        line-height: 25px;
        font-size: 0.9rem;
    }
    .schedule_explain dl dd {
        margin-left: 30px;
        font-size: 0.8rem;
    }
    .sec2Front-image-container img:first-child {
        bottom: 50px;
    }
    .sec2Front-image-container img:last-child {
        bottom: 90px;
    }
    }