@charset "utf-8";

/* 크기 1280px 이상 */
@media all and (min-width: 1280px) {}

/* 크기 770px ~ 1279px */
/* and (min-width: 770px) */
@media all and (max-width: 1279px) {
  #reservation > ul { 
    width: 150px; height: 300px;
  }
  #reservation > ul > li > a {
    width: 140px; height: 140px;
  }
  #reservation > ul > li > a > p {
    width: 108px; height: 108px;
    top: 16px; left: 16px;
    font-size: 14px;
    padding-top: 40%;
  }
  #reservation > ul > li:nth-of-type(1) > a > p {
    background-size: 30px;
    background-position-y: 20%;
  }
  #reservation > ul > li:nth-of-type(2) > a > p {
    background-size: 30px;
    background-position-y: 20%;
  }

}

/* 크기 770px 이하 */
@media all and (max-width: 769px) {
  .topMove {
    font-size: 20px;
  }
  .topMove > a {
    width: 80px; height: 80px;
    line-height: 110px;
    background-size: 20px;
  }
}