@charset "utf-8";

/* 크기 1280px 이상 */
@media all and (min-width: 1280px) {
  .foating-container {
    bottom: 50px; 
  }
  #reservation {
    transform: translateY(-20%);
}
  #reservation > ul { 
    flex-direction: column;
    justify-content: space-between;
    height: 403px;
  }
}

/* 크기 770px ~ 1279px */
/* and (min-width: 770px) */
@media all and (max-width: 1279px) {
  .foating-container {
    display: flex;
    align-items: center;
    gap: 70px;
    bottom: 30px; 
  }
  #reservation > ul { 
    width: 150px;
    flex-direction: row;
    gap: 10px;
  }
  #reservation > ul > li > a {
    width: 100px; height: 100px;
  }
  #reservation > ul > li > a > p {
    width: 80px; height: 80px;
    top: 10px; left: 10px;
    font-size: 10px;
    padding-top: 40%;
  }
  #reservation > ul > li:nth-of-type(1) > a > p {
    background-size: 30px;
    background-position-y: 20%;
  }
  #reservation > ul > li:nth-of-type(2) > a > p {
    background-size: 30px;
    background-position-y: 20%;
  }
  .topMove {
    font-size: 20px;
  }
  .topMove > a {
    width: 80px; height: 80px;
    line-height: 110px;
    background-size: 20px;
  }

}

/* 크기 770px 이하 */
@media all and (max-width: 769px) {
  
}