.sect4 {
    width: 100%;
    height: 70vw;
    position: relative;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 80px; */
}


.sect4>.wave {
    /* z-index: 4; */
    /* top: -5%; */
    position: absolute;
    width: 100%;
    height: 100px;
    background: rgb(var(--basic-purple-color)) url(../images/w_wave.png);
    /* background: rgb(var(--basic-purple-color)) url(../images/w_wave.png) no-repeat 0 bottom / 100vw 6vw;  */
}

/* ============================================== */

.sect4>.front-image-container {
    position: absolute;
    width: 100%;
    /* max-width: 1600px; */
    max-height: 1600px;
    height: 100%;
    margin-top: 8rem;
}

.sect4>.front-image-container>img {
    position: absolute;
    width: 10%
}

.sect4>.front-image-container>img:nth-of-type(1),
.sect4>.front-image-container>img:nth-of-type(2) {
    top: 10%;
    width: 3vw;
}

.sect4>.front-image-container>img:nth-of-type(3),
.sect4>.front-image-container>img:nth-of-type(4) {
    bottom: 30%;
    width: 15vw;
}

.sect4>.front-image-container>img:nth-of-type(1) {
    left: 15%;
}

.sect4>.front-image-container>img:nth-of-type(2) {
    /* top: 12%; */
    right: 15%;
    /* transform: scale(200%); */
}

.sect4>.front-image-container>img:nth-of-type(3) {
    left: 10%;
}

.sect4>.front-image-container>img:nth-of-type(4) {
    /* bottom: 18%; */
    right: 10%;
}

/* ========================================================= */

.sect4>.programLink_title {
    margin-top: 8rem;
    text-align: center;
    /* padding-bottom: 1rem; */
}

.sect4>.programLink_title>h2 {
    font-size: 2rem;
    font-weight: 900;
}

.sect4>.programLink_title>p {
    line-height: 250%;
    font-size: 1.15rem;
    color: rgb(100, 100, 100);
}

/* ============================================================ */

.sect4>.wrap {
    position: relative;
    width: 60%;
    height: 55%;
    /* border: 3px solid #f00; */
    overflow: hidden;
    display: flex;
    align-items: center;
}

.sect4>.wrap>.wrapInner {
    width: 120vw;
    display: flex;
    /* transition: 1s; */
    /* border: 5px solid #f00; */
}

.sect4>.wrap a {
    display: block;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    width: 20vw;
    height: 30vw;
    background: no-repeat center center / cover;
    transition: 1s;
}

.sect4>.wrap .mainStage {
    background-image: url(../images/s4_ss01.jpg);
    /* z-index: 8; */
}

.sect4>.wrap .subStage {
    background-image: url(../images/s4_ss02.jpg);
}

.sect4>.wrap .budaeStage {
    background-image: url(../images/s4_ss03.jpg);
}

/* .sect4 > .wrap  .subStage::after,
.sect4 > .wrap  .budaeStage::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
} */
.sect4>.wrap a.mainSlide {
    transform: scale(1.1);
    z-index: 8;
}

.sect4>.wrap a::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.sect4>.wrap a.mainSlide::after {
    background-color: rgba(0, 0, 0, 0);
}


.sect4>.wrap .mainStage>h3,
.sect4>.wrap .subStage>h3,
.sect4>.wrap .budaeStage>h3 {
    display: none;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 125%;
}

.sect4>.wrap a.visible>h3 {
    display: block;
}


@media all and (max-width: 1000px) {

    .sect4>.wrap .mainStage>h3,
    .sect4>.wrap .subStage>h3,
    .sect4>.wrap .budaeStage>h3 {

        font-size: 1rem;

    }
}